<!-- =========================
    START ABOUT US SECTION
============================== -->
<section class="about page" id="ABOUT">
   <div class="container">
       <div class="row">
           <div class="col-md-10 col-md-offset-1">
               <!-- ABOUT US SECTION TITLE-->
               <div class="section_title">
                   <h2>Sobre nós</h2>
                   <p>
                     Nossa motivação é proporcionar um ambiente onde as pessoas desenvolvam conhecimento e experiência em investimentos. Acreditamos que você pode viabilizar seus objetivos financeiros investindo no mercado de capitais.
                   </p>
               </div>
           </div>

       </div>
   </div>
</section>
   <!-- End About Us -->
