<section class="our_services page">
  <div class="ourservices_area">
    <div class="container">
      <div class="row">
        <div class="col-md-6 wow fadeInLeftBig">
        <!-- VIDEO LEFT TITLE -->
          <div class="video_title">
            <h2>Com a Plano Investimentos você terá ótimos resultados. Por que?</h2>
            <p>
              Na Internet existe uma diversidade de conteúdo que exige um longo tempo
              de dedicação para ser assimilado. Na Plano Investimentos, estruturamos as
              informações para você vivenciar o mercado financeiro e atingir alta
              rentabilidade se dedicando 1 ou 2 horas por semana.
            </p>
          </div>
          <div class="video-button">
              <!-- BUTTON -->
              <a class="btn btn-primary btn-video" href="#FEATURES" role="button">Conheça nossos serviços</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
